In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv('ClimateData.csv')

In [20]:
display(df)

,id,building_class,floor_area,year_built,precipitation_inches,snowfall_inches,avg_temp,days_with_fog,site_eui
0,0,Commercial,61242.0,1942.0,16.59,0.0,56.972603,NaN,248.68
1,1,Commercial,274000.0,1955.0,16.59,0.0,56.972603,12.0,26.50
2,2,Commercial,280025.0,1951.0,16.59,0.0,56.972603,12.0,24.69
3,3,Commercial,55325.0,1980.0,16.59,0.0,56.972603,12.0,48.41
4,4,Commercial,66000.0,1985.0,16.59,0.0,56.972603,NaN,3.90
...,...,...,...,...,...,...,...,...,...
75752,75752,Commercial,20410.0,1995.0,45.03,1.4,55.147541,NaN,132.92
75753,75753,Residential,40489.0,1910.0,45.03,1.4,55.147541,NaN,39.48
75754,75754,Commercial,28072.0,1917.0,106.32,36.6,47.911202,NaN,48.40
75755,75755,Commercial,53575.0,2012.0,106.32,36.6,47.911202,NaN,592.02
75756,75756,Residential,23888.0,1974.0,107.69,28.8,49.127397,NaN,29.15

In [31]:
#Question 1 data types summary
print(df.dtypes)

id                        int64
building_class           object
floor_area              float64
year_built              float64
precipitation_inches    float64
snowfall_inches         float64
avg_temp                float64
days_with_fog           float64
site_eui                float64
dtype: object

In [33]:
#Question 2 Unique ID for categorical variable 
unique_values_count = df['building_class'].nunique()
print(f"Number of unique values in 'building_class' :{unique_values_count}")

Number of unique values in 'building_class' :2

In [35]:
#Question 3 Descrpitve Statistics 
#im not really sure how to answer the question about the central tendecy and dispersion domain knowledge might be needed.
descriptive_statistics = df.describe()
print(descriptive_statistics)

                 id    floor_area    year_built  precipitation_inches  \
count  75757.000000  7.575700e+04  73920.000000          75757.000000
mean   37878.000000  1.659839e+05   1952.306764             42.430651
std    21869.306509  2.468758e+05     37.053619             10.592205
min        0.000000  9.430000e+02      0.000000              0.000000
25%    18939.000000  6.237900e+04   1927.000000             39.350000
50%    37878.000000  9.136700e+04   1951.000000             42.170000
75%    56817.000000  1.660000e+05   1977.000000             46.320000
max    75756.000000  6.385382e+06   2015.000000            107.690000

       snowfall_inches      avg_temp  days_with_fog      site_eui
count     75757.000000  75757.000000   29961.000000  75757.000000
mean         29.136379     56.176705     109.142051     82.584707
std          17.810894      2.241940      50.699751     58.255413
min           0.000000     44.512329      12.000000      1.000000
25%           9.600000     55.147541      88.000000     54.530000
50%          31.600000     56.835616     104.000000     75.290000
75%          49.100000     57.215847     131.000000     97.280000
max         127.300000     77.245205     311.000000    997.870000

In [37]:
# Question 4 Missing Values 
missing_values_count = df.isnull().sum()
print(f"Missing values in each column:\n{missing_values_count}")

Missing values in each column:
id                          0
building_class              0
floor_area                  0
year_built               1837
precipitation_inches        0
snowfall_inches             0
avg_temp                    0
days_with_fog           45796
site_eui                    0
dtype: int64

In [39]:
#Question 5 Missing data Handling // not sure what techniques to use